/* GROUP: ComboBox Drop-down Box */
.wm_fleetup .dijitPopup .dijitCalendarMonthMenu,
.wm_fleetup  ul.dijitMenu {
	background-color: #ffe773;
	background-image: none;
	filter: none;
    border: solid 1px black;
    border-top: solid 1px #999999;
    box-shadow: 3px 3px 4px black;
}

/* GROUP: ComboBox Drop-down Items */
.wm_fleetup .dijitPopup .dijitCalendarMonthLabel,
.wm_fleetup  ul.dijitMenu .dijitMenuItem {
    padding: 4px 5px;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
	color: #876ed7;
    font-weight: bold;
    background-color: transparent; /* THEMER: IGNORE */
    border-bottom: solid 1px #aaaaaa;
}


/* GROUP: ComboBox Item Hover */
.wm_fleetup .dijitPopup .dijitCalendarMonthLabel .dijitMenuItemSelected,
.wm_fleetup  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected {
	color: #200772;
    background-color: transparent; /* THEMER: IGNORE */
    border-bottom: solid 1px #AAAAAA;
}
