
/* GROUP: Dialog Footer */
.wm_ecoflot .dialogfooter,
.wm_ecoflot .wmpagedialog-controlspanel {
/* 	background-color: #444444; // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Dialog Footer Buttons */
.wm_ecoflot .dialogfooter .wmbutton {
    font-family: sans-serif;
    font-size: 12px;
    color: #FFFFFF; 
    font-weight: bold;
/* 	background-color: rgb(68, 68, 68); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
}

/* GROUP: Footer Buttons (Hover) */
.wm_ecoflot .dialogfooter .wmbutton:hover {
	color: #ffffff;
	background-color: rgb(68, 68, 68);
	background-image: none;
	filter: none;
    box-shadow: 4px 4px 4px black;
}

/* GROUP: Footer Buttons (Active) */
.wm_ecoflot .dialogfooter button.wmbutton.toggleButtonDown,
.wm_ecoflot .dialogfooter .wmbutton.Active,
.wm_ecoflot .dialogfooter .wmbutton:active,
.wm_ecoflot .dialogfooter .wmbutton.Active:hover,
.wm_ecoflot .dialogfooter .wmbutton:active:hover {
    color: #FFFFFF; 
    background-color: #444444;
    background-image: none;
    filter: none;
    box-shadow: 4px 4px 4px black;
}

