/* GROUP: Tool tips */
.wm_ecoflot .AppToolTip {
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;

	background-color: #fffecb;
	background-image: none;
	filter: none;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 2px 2px 2px #666;
}